.navbar {
    position: fixed;         /* Fix the navbar at the top */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;            /* Set a fixed height */
    background-color: white;
    z-index: 1000;           /* Ensure it appears above other elements */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
    display: flex;
    align-items: center;     /* Vertically center items */
    justify-content: space-between;  /* Distribute logo and other content evenly */
    
  }
  
  .navbar-logo {
    display: flex;           /* Flexbox container for the logo */
    align-items: center;     /* Vertically center the logo */
  }
  
  .navbar-logo img {
    height: 30px;            /* Adjust logo size */
  }
  
  .buttons {
    display: flex;            /* Enables flexbox layout */
    align-items: center;      /* Vertically aligns the date and search bar */
    gap: 20px;                /* Adds space between the date selector and search bar */
  }

  .MuiStack-root {
    padding: 0 !important; /* Override the padding */
  }

  .profile-button {
    padding: 20px 20px;
  }
  
  